<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>
    <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
    <import resource="com/raisonne/bd/generic/dao/dao-service.xml"/>
    <import resource="com/raisonne/bd/service/donor/donor-services-spring.xml"/>
	<import resource="com/raisonne/bd/action/donor/donor-actions-spring.xml"/>
	<import resource="com/raisonne/bd/action/admin/admin-actions-spring.xml"/>
	<import resource="com/raisonne/oauth/action/oauth-actions-spring.xml"/>
	<import resource="com/raisonne/bd/converter/converters-spring.xml"/>
	<import resource="com/raisonne/oauth/config/oauth-config-spring.xml"/>
	<import resource="com/raisonne/bd/util/mail/mail-spring.xml"/>
	<import resource="com/raisonne/bd/login/action/donor-login-spring.xml"/>
	
	<import resource="com/raisonne/bd/service/bloodrequest/bloodrequest-services-spring.xml"/>
	<import resource="com/raisonne/bd/action/bloodrequest/bloodrequest-actions-spring.xml"/>
</beans>

